* {
    margin:0px;
    padding:0px;
    list-style-type: none;
    text-decoration: none;
}

#contenedor {
    width: 95%;
    margin:auto;
    background-color: rgba(159,214,199,0.2);
}

header {
    background-color: black;
    height: 100px;
    border-radius: 20px;
    margin: 5px 0px 3px;
        
}
#enca{
    font-size: 14px;
    float: left;
    padding: 20px;
    color: aliceblue;

}
#logo {
    width: 50px;
    border-radius: 50%;
    float:left;
   
}

#acercade {
    background-color: gray;
    height: 200px;
    border-radius: 20px;
    font-size: 12px;
    padding: 15px 15px;
    
}

a {
    float: right;
    padding: 15px;
    font-size: 17px;
    color:aliceblue;
}

a:hover {
    color:grey;
    font-size: 22px;
}



#tecnologias {
    background-color: rgb(255, 255, 255);
    height: 200px;
    text-align: center;
    border-radius: 20px;
    margin: 5px 0px 5px;
}

#proyectos {
    background-color: yellowgreen;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    margin: 5px 0px 5px;
}

body {
    background: url(fondo-pagina.jpg);
    background-size: cover;
}

.imagenes {
    width: 100px;
}

.icono {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 100px;
}

.icono p {
    font-size: 20px;
    margin-top: 5px;
}

footer {
    background-color: dimgrey;
    height: 100px;
    color:antiquewhite;
    border-radius: 20px;
}

.imagenespie {
    width: 50px;
}


.iconopie {
    display: inline-block;
    text-align: center;
    width: 200px;
}



.iconopie p {
    font-size: 20px;
    margin-top: 5px;
}